﻿@using JAG.UserAccess.Models
@using Microsoft.AspNet.Identity

@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@if (Request.IsAuthenticated)
{
    <div class="col-md-12 jumbotron" style="padding-bottom: 20px; padding-top: 20px; background: #f1f1f1;">
        <div class="row">
            <div class="col-md-12">
                <section style="text-align: center;">
                    <h4 style="font-size: 16px; color: #000;">You are logged in, @JAG.UserAccess.Common.Constants.Formatted(User.Identity.GetUserName()) &#x1f60a;</h4>
                </section>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-md-12 jumbotron" style="background: #f1f1f1;">
        <h2>@ViewBag.Title</h2>
        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("UserLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <i style="margin-left: 0;">Use your local account to log in.</i>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label", @style = "text-align: right;" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username", autofocus = "autofocus" })
                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label", @style = "text-align: right;" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "**********" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-success" />
                            </div>
                        </div>
                        if (Model != null && Model.Message != null)
                        {
                            Model.Message += " &#x1f61e;";
                            <div class="form-group" style="color: #d37171;">
                                <span class="col-md-offset-2 col-md-10 control-label text-danger" style="text-align: left;">@Html.Raw(Model.Message)</span>
                            </div>
                        }
                    }
                </section>
            </div>
            <div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>
    </div>
}