﻿body {
    font-family: 'Montserrat', sans-serif !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Montserrat', sans-serif !important;
    margin-top: 40px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 360px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
    line-height: 1.1;
}

.loading-icon-save {
    background-image: url('../Images/loading-transparent.gif');
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: 30px 30px;
    margin-left: 10px;
    margin-top: 3px;
}

.active-a {
    color: #ffffff !important;
    background-color: transparent;
}

.btn-back {
    -webkit-transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: white;
    float: left;
    margin-top: 17px;
    margin-right: 10px;
    margin-bottom: 10px;
}

    .btn-back .back-icon {
        color: #c8c8c8;
    }

    .btn-back:hover {
        opacity: 0.5;
    }

.back-icon {
    position: relative;
    color: white;
    cursor: pointer;
    left: 0.5px;
    font-size: 39px;
}

.output {
    max-width: 90% !important;
    width: 90% !important;
}

.navbar-inverse {
    background-color: #000;
    border-color: #fff;
}

.menu-icons {
    float: left;
    padding-top: 14px;
    color: #b6b4b4;
    padding-right: 1px;
}
